:root {
    --blue: #345FF6;
    --gunmetal: #253347;
    --dark-electric-blue: #5E6E85;
    --borders: #D8E2E7;
    --white: #fff;
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}



body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: var(--white);
    
}

p {
    margin: 0;
}

/* Typography Classes */

.heading-xl {
    color: var(--gunmetal);
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 4.4rem */
    letter-spacing: -0.2rem;

}

@media(max-width: 768px) {
    .heading-xl {
        text-align: center;
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -0.15rem;
    }
}

.heading-l {
    color: var(--gunmetal);
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.15rem;
}

@media(max-width: 768px) {
    .heading-l {
        color: var(--gunmetal);
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -0.1rem;
    }
}

.heading-m {
    color: var(--gunmetal);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.075rem;
}

/* heading m is identical on tablet & mobile screen sizes */

.heading-s {
    color: var(--gunmetal);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.0625rem;
}

.body-default {
    color: var(--dark-electric-blue);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 1.5rem */
}

/* body-default is identical on tablet & mobile screen sizes */

.body-s {

    color: var(--dark-electric-blue);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* body-default is identical on tablet & mobile screen sizes */

.bold {
    font-weight: bold;
}

/* utilities */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.gap {
    margin-bottom: 6rem;
}

@media(max-width: 390px) {
    .gap {
        margin-bottom: 4.5rem;
    }
}

/* layout */

.container {
    padding: 0 1.5rem;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;

}


@media(max-width: 768px) {
    .container {
        padding: 0;
        margin-bottom: 4rem;
    }
}


/* bmi calculator section */

header {
    width: 100%;
    border-radius: 0rem 0rem 2.1875rem 2.1875rem;
    background: url('./assets/images/bg-desktop.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;
    padding: 2rem 7.25rem 5rem;
    gap: 1.75rem;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    flex-direction: column;
}

@media(max-width: 768px) {
    header {
        align-items: center;
        padding: 2rem 2.44rem 0 2.44rem;
        background: url('./assets/images/bg-tablet.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% -18%;
    }
}

@media(max-width: 390px) {
    header {
        align-items: center;
        padding: 1.5rem;
        background: url('./assets/images/bg-mobile.png');
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: cover;
    }
}

header .bmi-logo {
    width: 4rem;
    height: 4rem;
}

@media(max-width: 768px) {
    header .bmi-logo {
        width: 2.5rem;
        height: 2.5rem;
    }
}

header .header-content {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

@media(max-width: 768px) {
    header .header-content {
        flex-direction: column;
        gap: 2.5rem;
    }  
}

/* styles for the text container */

header .header-text-container {
    max-width: 500px;
}

@media(max-width: 768px) {
    header .header-text-container {
        max-width: 100%;
        text-align: center;
    }
}

.header-text-container p.heading-xl {
    margin-bottom: 2.25rem;
}

@media(max-width: 768px) {
    .header-text-container p.heading-xl {
        margin-bottom: 1.5rem;
    } 
}

/* styles for the input container */

header .input-container {
    border-radius: 1rem;
    background: var(--Pure-White, #FFF);
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    max-width: 35rem;
}

@media(max-width: 768px) {
    header .input-container {
        max-width: 100%;
    }
}

header .radio-btns {
    gap: 1.5rem;
}

header .radio-btn-container {
    flex-grow: 1;
    align-items: center;
    gap: 1.12rem;
}

@media(max-width: 768px) {
    header .radio-btn-container {
        gap: 1.12rem;
    }
}

/*  Styling of the radio buttons */

header input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: none;
    border: 1px solid var(--borders);
    /* The outline will be the outer circle */
    outline: none;
    width: 2rem;
    height: 2rem;
    margin: 0;
}

header input[type="radio"]:checked {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: var(--blue);
    border: 8px solid #E1E7FE;
    ;
    /* The outline will be the outer circle */
    outline: none;
    width: 2rem;
    height: 2rem;

}

header .radio-btn-container label {
    color: var(--gunmetal)
}


/* input fields for the values */

header .input-fields {
    justify-content: space-between;
    gap: 1.5rem;
}

@media(max-width: 390px) {
    header .input-fields {
        flex-direction: column;
    } 
}

header .input-fields .input-field-container {
    flex-grow: 1;
}

header .input input {
    box-sizing: border-box;
    width: 100%;
    padding: 1.25rem 1.5rem;
    border-radius: 12px;
    border: 1px solid var(--borders);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.075rem;
    
}

/* hiding the labels for the additional inputs in imperial measures */
.imperialLabel {
  visibility: hidden;
}

/*hide arrows in the numbers input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* styling the unit display */

header .input-field-container .input {
    position: relative;
}

header .input-field-container .input .unit-display {
    position: absolute;
    top: 28%;
    right: 1.5rem;
    color: var(--blue);
    text-align: right;
}

.input-box {
    flex-grow: 1;
}

/* bmi-output container  */

header #outputContainer {
    background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
    padding: 2rem;
    gap: 1.5rem;
    color: var(--white);
    border-radius: 4rem 62rem 62rem 4rem;
    justify-content: space-between;
}

@media(max-width: 390px) {
    header #outputContainer {
        flex-direction: column;
        border-radius: 1rem;
    }

    header #outputContainer p.heading-xl {
        text-align: left !important;
    }
}

header #outputContainer p {
    color: var(--white)
}

header #outputContainer .bmi-message {
    max-width: 12rem;
    margin-right: 2rem;
}


@media(max-width: 390px) {
    header #outputContainer .bmi-message {
        max-width: 100%;
        margin-right: 0;
    }
}

#idealWeightOutput {
    display: inline-block;
}
/* bmi meaning section */

section.bmi-meaning {
    gap: 8.19rem;
    padding: 0 8.75rem;
    align-items: center;
}

@media(max-width: 768px) {
    section.bmi-meaning {
        gap: 4.69rem;
        padding: 0 0;
    }
}

@media(max-width: 390px) {
    section.bmi-meaning {
        gap: 4.69rem;
        padding: 0 0;
        flex-direction: column;
    }
}

section.bmi-meaning .img-container,
.text-container {
    flex: 1;
}

@media(max-width: 768px) {
    section.bmi-meaning .img-container {
        position: relative;
        height: 411px;
    }
}

@media(max-width: 390px) {
    section.bmi-meaning .img-container {
        position: static;
        height: auto;
        width: 99%;
    }
}

section.bmi-meaning .text-container {
    position: relative;
}

@media(max-width: 768px) {
    section.bmi-meaning .text-container {
        padding-right: 2.68rem;
    }
}

@media(max-width: 390px) {
    section.bmi-meaning .text-container {

        flex-direction: column;
    }
}


section.bmi-meaning img {
    width: 100%;
    max-width: 600px;
}

@media(max-width: 768px) {
    section.bmi-meaning img {
        height: 411px;
        width: auto;
        position: absolute;
        right: 0%;
    }
}

@media(max-width: 390px) {
    section.bmi-meaning img {
        position: static;
    }
}

section.bmi-meaning p.heading-l {
    margin-bottom: 2.19rem;
}


section.bmi-meaning #line-left {
    width: 5rem;
    position: absolute;
    right: 0%;
    top: -71%;
}

@media(max-width: 768px) {
    section.bmi-meaning #line-left {
        display: none;
    }
}

/* bmi benefits section */

section.bmi-benefits-container {
    border-radius: 2.1875rem;
    background: var(--Gradient-1, linear-gradient(290deg, #D6E6FE -50%, rgba(214, 252, 254, 0.00) 100%));
    padding: 4.5rem 8.75rem 6rem 8.75rem;
    gap: 2rem;
    color: var(--dark-electric-blue)
}

@media(max-width: 768px) {
    section.bmi-benefits-container {
        border-radius: 0;
        padding: 3.75rem 2.44rem;
        gap: 2.5rem;
        flex-direction: column;
    }
}

@media(max-width: 390px) {
    section.bmi-benefits-container {
        padding: 3.5rem 1.2rem;
        gap: 2.5rem;
    }
}


section div.benefit-container {
    flex-direction: column;
    gap: 2.81rem;
}

@media(max-width: 768px) {
    section div.benefit-container {
        flex-direction: row;
        gap: 2.5rem;
        align-items: center;
    }
}

@media(max-width: 390px) {
    section div.benefit-container {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }
}

section .benefit-img {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;

}

section .benefit-container p.heading-m {
    margin-bottom: 1.5rem;
}


/* limitations of bmi section */

section.limitations-bmi {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 0 8.75rem;
    margin-bottom: 7.5rem;
    position: relative;
}

@media(max-width: 768px) {
    section.limitations-bmi {
        grid-template-rows: auto;
        column-gap: 0.94rem;
        row-gap: 1.5rem;
        padding: 0 2.44rem;
        margin-bottom: 6rem;
    }
}

@media(max-width: 390px) {
    section.limitations-bmi {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 0 1.2rem;
    }
}


/* layout of the elements in the grid */

#limitations-headline {
    grid-column: 1 / 7;
    grid-row: 1 / 1
}

@media(max-width: 768px) {
    #limitations-headline {
        grid-column: 1 / 12;
    }
}

#line-right {
    position: absolute;
    position: absolute;
    top: 35%;
    left: 25%;
}

@media(max-width: 768px) {
    #line-right {
        display: none;
    }
}

#gender {
    grid-column: 8/ 12;
    grid-row: 1 / 1;
}

@media(max-width: 768px) {
    #gender {
        grid-column: 1 / 7;
        grid-row: auto;
    }
}

#age {
    grid-column: 5 / 9;
    grid-row: 2 / 2;
}

@media(max-width: 768px) {
    #age {
        grid-column: 7 / 13;
        grid-row: auto;
    }
}


#muscle {
    grid-column: 9 / 13;
    grid-row: 2 / 2;
}

@media(max-width: 768px) {
    #muscle {
        grid-column: 1 / 7;
        grid-row: auto;
    }
}

#pregnancy {
    grid-column: 3 / 7;
    grid-row: 3 / 3;
}

@media(max-width: 768px) {
    #pregnancy {
        grid-column: 7 / 13;
        grid-row: auto;
    }
}

#race {
    grid-column: 7 / 11;
    grid-row: 3 / 3
}

@media(max-width: 768px) {
    #race {
        grid-column: 4 / 10;
        grid-row: auto;
    }
}


@media(max-width: 390px) {

    #limitations-headline,
    #gender,
    #age,
    #muscle,
    #pregnancy,
    #race {
        grid-column: 1 / 1;
        grid-row: auto;
    }
}


/* styling of the elements */

section.limitations-bmi p.heading-l {
    margin-bottom: 2.19rem;
}

@media(max-width: 768px) {
    section.limitations-bmi p.heading-l {
        margin-bottom: 2rem;
    }
}

@media(max-width: 768px) {
    section.limitations-bmi .text-container {
        text-align: center;
    }
}

section.limitations-bmi .limit-tile {
    padding: 2rem;
    border-radius: 1rem;
    background: var(--white);
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
    height: fit-content;
}

@media(max-width: 768px) {
    section.limitations-bmi .limit-tile {
        height: initial;
    }
}

@media(max-width: 390px) {
    section.limitations-bmi .limit-tile {
        padding: 1.5rem;
    }
}

section.limitations-bmi .header-container {
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

